# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\csant\Documents\ENG DA COMPUTACAO\BANCO DE DADOS\PROJETO FINAL\simpleBookstore\frontend\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
