<!DOCTYPE html>
<html lang="pt">
    <head>
        <title>Livraria Virtual</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>
    <body>

    <div class="d-flex flex-column">
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom shadow-sm mb-3">
        <div class="container">
            <a class="navbar-brand" href="/"><h2>Livraria Virtual</h2></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a href="livros" class="nav-link text-white+ {{'active' if active_page == 'livros'}}" >Livros</a>
                    </li>
                    <li class="nav-item">
                        <a href="sobre" class="nav-link text-white+ {{'active' if active_page == 'sobre'}}">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a href="carrinho" class="nav-link text-white+ {{'active' if active_page == 'carrinho'}}">Carrinho</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-nav flex-grow-1 align-self-end">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="vendedor" class="nav-link text-white+ {{'active' if active_page == 'vendedor'}}">Área do vendedor</a>
                    </li>
                </ul>
            </div>
        </div>
     </nav>

     <main class="flex-fill">
         <div class="container">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  {{message}}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            {% block content %}{% endblock %}
         </div>
     </main>

     <footer class="footer border-top text-left text-dark bg-light">
         <div class="container">
            <div class="row py-3">
                <div class="col-10">
                    <b>&copy; Livraria Virtual - 2021 </b><br>
                    Inserir dados de contato <br>
                    (Colocar os dados no canto esquedo) <br>
                    (Fixar no final da página) <br>
                </div>
            </div>
         </div>
     </footer>
    </div>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    </body>

</html>