{% extends "base_layout.html" %}
{% set active_page = "livros" %}

{% block content %}

    <div class="container text-dark text-center">
        <h2>Inserir alguma coisa aqui</h2>
    </div>

     <hr>
    <div class="card-columns">
        {% for livro in livros %}
        {% if livro.estoque=='1' %}
        <div class="card text-center text-dark border-secundary" style="width: 18rem;">
            <img src="https://practicelanguagesonline.files.wordpress.com/2021/02/top-10-books-every-college-student-read-1024x640-1.jpeg?w=810&h=580&crop=1" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{livro.titulo}}</h5>
                <h6 class="card-subtitle">R$ {{ livro.preco }}</h6>
                <p class="card-text">{{livro.titulo}}, {{ livro.autor}} e ano de publicação.</p>
                <a href="#" class="btn btn-primary btn-dark">Comprar</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <hr>

{% endblock %}