{% extends "base_layout.html" %}
{% set active_page = "livros" %}

{% block content %}

    <div class="container text-dark text-center">
        <h2>Livros mais vendidos</h2>
    </div>
    <hr>



        <div class="card-group">
            {% for top in topvendas %}
            <div class="card text-center text-dark border-secundary">
                <img src="https://nfe.io/blog/app/uploads/2020/03/livros-sobre-planejamento-tributario.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{top.titulo}}</h5>
                    <p class="card-text">{{top.autor}}</p>
                </div>
            </div>
            {% endfor %}
        </div>

    <hr>
    </br>
    </br>


    <div class="container text-dark text-center">
        <h2>Todos os livros disponíveis</h2>
    </div>
    <hr>
        <div class="card-columns row-cols-3">
            {% for livro in livros %}
            <div class="card text-center text-dark border-secundary" >
                <img src="https://nfe.io/blog/app/uploads/2020/03/livros-sobre-planejamento-tributario.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{livro.titulo}}</h5>
                    <h6 class="card-subtitle">R$ {{livro.preco}}</h6>
                    <p class="card-text">{{livro.autor}}, {{livro.anoPublicacao}}.</p>
                    <a class="btn btn-primary btn-dark" href="{{ url_for('add_car', livroId = livro.id)}}" method="post">Adicionar ao carrinho</a>
                </div>
            </div>
            {% endfor %}
        </div>


{% endblock %}